.overlay {
  backdrop-filter: blur(3px);
  position: flex;
  background-color: rgba(51, 51, 51, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12110;
}

h2 {
  color: #000000;
}
.modal {
  background: inherit;
  filter: blur(0.1px);
  opacity: 10;
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  text-align: center;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.modal input {
  font-size: 2rem;
  font-family: inherit;
  padding: 0.5rem 0.5rem;
  background: none;
  border-radius: 8px;
}

.modal label span {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  color: rgb(239, 232, 232);
}

.gender {
  display: flex;
  gap: 1rem;
}

.gender label {
  display: flex;
  align-items: center;
  color: rgb(106, 181, 246);
}
.gender1 {
  color: rgb(106, 181, 246);
}

.modal-btn {
  background: #f45050;
  color: #fff;
  border: 0;
  font-family: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-weight: 500;
  align-self: center;
  margin-top: 2rem;
  border-radius: 0.2rem;
}
